

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: #404040;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
} 

h3 {
  display:inline;
  background-color: lightgrey;
  padding: 5px;
}

.nav-bar {
  color: white;
  text-align: center;
  margin-top: 0px;
}

header, footer {
  font-family: Arial, Helvetica, sans-serif;
}


.turquoise-bar {
  background-color: turquoise;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.six {
  border-bottom: 4px solid #ffcc00;
  font-weight: bold;
}

.rec {
  display: inline-block;
  width: 33%
}

.combined-pics {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.link {
  text-align: center;
  background-color: #ffcc00;
}

.words {
  margin-top: 2px;
  color: blue;
}

.word1 {
  text-decoration: underline;
}

.word2 {
  text-decoration: underline;
}

footer {
  background-color: black;
  text-align:center;
  color: white;
  padding: 15px;
}

h5 {
  margin: 0;
}
